In [2]:
import pandas as pd

raw_data = pd.read_csv('DS1_C5_S3_BazilHousing_Data_Hackathon.csv')

raw_data

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa (R$),rent amount (R$),property tax (R$),fire insurance (R$),total (R$)
0,São Paulo,70,2,1,1,7,acept,furnished,2065,3300,211,42,5618
1,São Paulo,320,4,4,0,20,acept,not furnished,1200,4960,1750,63,7973
2,Porto Alegre,80,1,1,1,6,acept,not furnished,1000,2800,0,41,3841
3,Porto Alegre,51,2,1,0,2,acept,not furnished,270,1112,22,17,1421
4,São Paulo,25,1,1,0,1,not acept,not furnished,0,800,25,11,836
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10687,Porto Alegre,63,2,1,1,5,not acept,furnished,402,1478,24,22,1926
10688,São Paulo,285,4,4,4,17,acept,not furnished,3100,15000,973,191,19260
10689,Rio de Janeiro,70,3,3,0,8,not acept,furnished,980,6000,332,78,7390
10690,Rio de Janeiro,120,2,2,2,8,acept,furnished,1585,12000,279,155,14020
10691,São Paulo,80,2,1,0,0,acept,not furnished,0,1400,165,22,1587

In [3]:
# Remove duplicates
cleaned_data = raw_data.drop_duplicates().reset_index(drop=True)

In [4]:
cleaned_data

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa (R$),rent amount (R$),property tax (R$),fire insurance (R$),total (R$)
0,São Paulo,70,2,1,1,7,acept,furnished,2065,3300,211,42,5618
1,São Paulo,320,4,4,0,20,acept,not furnished,1200,4960,1750,63,7973
2,Porto Alegre,80,1,1,1,6,acept,not furnished,1000,2800,0,41,3841
3,Porto Alegre,51,2,1,0,2,acept,not furnished,270,1112,22,17,1421
4,São Paulo,25,1,1,0,1,not acept,not furnished,0,800,25,11,836
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10329,Porto Alegre,63,2,1,1,5,not acept,furnished,402,1478,24,22,1926
10330,São Paulo,285,4,4,4,17,acept,not furnished,3100,15000,973,191,19260
10331,Rio de Janeiro,70,3,3,0,8,not acept,furnished,980,6000,332,78,7390
10332,Rio de Janeiro,120,2,2,2,8,acept,furnished,1585,12000,279,155,14020
10333,São Paulo,80,2,1,0,0,acept,not furnished,0,1400,165,22,1587

In [13]:
# Exclude Rio de Janeiro and Sao Paulo
filtered_data = cleaned_data[~cleaned_data['city'].isin(['Rio de Janeiro', 'São Paulo'])]

In [14]:
filtered_data

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa (R$),rent amount (R$),property tax (R$),fire insurance (R$),total (R$)
2,Porto Alegre,80,1,1,1,6,acept,not furnished,1000,2800,0,41,3841
3,Porto Alegre,51,2,1,0,2,acept,not furnished,270,1112,22,17,1421
11,Campinas,46,1,1,1,10,acept,not furnished,550,580,43,8,1181
15,Campinas,330,4,6,6,0,acept,furnished,680,8000,328,121,9129
21,Belo Horizonte,42,1,1,1,17,not acept,furnished,470,2690,172,36,3368
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10309,Belo Horizonte,75,2,1,1,3,not acept,not furnished,180,1250,0,17,1447
10315,Porto Alegre,220,3,2,2,15,acept,not furnished,842,2400,117,36,3395
10318,Porto Alegre,40,1,1,0,1,acept,not furnished,330,1200,159,18,1707
10324,Porto Alegre,160,3,2,3,4,acept,furnished,850,3300,220,49,4419
10329,Porto Alegre,63,2,1,1,5,not acept,furnished,402,1478,24,22,1926

In [15]:
filtered_data.to_csv('filtered_housing_data.csv', index=False)

# Reload the filtered data
filtered_data = pd.read_csv('filtered_housing_data.csv')

In [16]:
filtered_data

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa (R$),rent amount (R$),property tax (R$),fire insurance (R$),total (R$)
0,Porto Alegre,80,1,1,1,6,acept,not furnished,1000,2800,0,41,3841
1,Porto Alegre,51,2,1,0,2,acept,not furnished,270,1112,22,17,1421
2,Campinas,46,1,1,1,10,acept,not furnished,550,580,43,8,1181
3,Campinas,330,4,6,6,0,acept,furnished,680,8000,328,121,9129
4,Belo Horizonte,42,1,1,1,17,not acept,furnished,470,2690,172,36,3368
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3181,Belo Horizonte,75,2,1,1,3,not acept,not furnished,180,1250,0,17,1447
3182,Porto Alegre,220,3,2,2,15,acept,not furnished,842,2400,117,36,3395
3183,Porto Alegre,40,1,1,0,1,acept,not furnished,330,1200,159,18,1707
3184,Porto Alegre,160,3,2,3,4,acept,furnished,850,3300,220,49,4419
3185,Porto Alegre,63,2,1,1,5,not acept,furnished,402,1478,24,22,1926

In [17]:
# Analysis for bachelors
bachelor_cities = filtered_data[
    (filtered_data['rooms'] == 1) &
    (filtered_data['bathroom'] == 1) &
    (filtered_data['parking spaces'].between(0, 1)) &
    (filtered_data['furniture'] == 'not furnished') &
    (filtered_data['animal'] == 'acept') &
    (filtered_data['parking spaces'] == 1)
]

average_total_rent_bachelor = bachelor_cities['total (R$)'].mean()

print("Cities suitable for bachelors:")
print(bachelor_cities[['city', 'animal', 'parking spaces', 'total (R$)']])
print("Average total rent for bachelor cities:", average_total_rent_bachelor, "R$")
print("========================================")

# Analysis for mid-sized families
family_cities = filtered_data[
    (filtered_data['rooms'].between(2, 3)) &
    (filtered_data['bathroom'].between(1, 2)) &
    (filtered_data['parking spaces'].between(1, 2)) &
    (filtered_data['furniture'] == 'not furnished') &
    (filtered_data['animal'] == 'acept') &
    (filtered_data['parking spaces'] == 2)
]

average_total_rent_family = family_cities['total (R$)'].mean()
print("Cities suitable for mid-sized families:")
print(family_cities[['city', 'animal', 'parking spaces', 'total (R$)']])
print("Average total rent for family cities:", average_total_rent_family, "R$")
print("========================================")

# Analysis for large families
large_family_cities = filtered_data[
    (filtered_data['rooms'].between(4, 5)) &
    (filtered_data['bathroom'].between(2, 5)) &
    (filtered_data['parking spaces'].between(2, 5)) &
    (filtered_data['furniture'] == 'not furnished') &
    (filtered_data['animal'] == 'acept') &
    (filtered_data['parking spaces'] == 4)
]

average_total_rent_large_family = large_family_cities['total (R$)'].mean()
print("Cities suitable for large families:")
print(large_family_cities[['city', 'animal', 'parking spaces', 'total (R$)']])
print("Average total rent for large family cities:", average_total_rent_large_family, "R$")

Cities suitable for bachelors:
                city animal  parking spaces  total (R$)
0       Porto Alegre  acept               1        3841
2           Campinas  acept               1        1181
11    Belo Horizonte  acept               1        2335
31      Porto Alegre  acept               1        1364
54      Porto Alegre  acept               1         791
...              ...    ...             ...         ...
3085        Campinas  acept               1        1748
3108    Porto Alegre  acept               1        2994
3135        Campinas  acept               1        1117
3150    Porto Alegre  acept               1        1423
3154        Campinas  acept               1        1472

[138 rows x 4 columns]
Average total rent for bachelor cities: 1921.5434782608695 R$
========================================
Cities suitable for mid-sized families:
                city animal  parking spaces  total (R$)
32      Porto Alegre  acept               2        2883
36          Campinas  acept               2        3231
38    Belo Horizonte  acept               2        2145
52    Belo Horizonte  acept               2        2311
60    Belo Horizonte  acept               2        2052
...              ...    ...             ...         ...
3153    Porto Alegre  acept               2        4214
3160  Belo Horizonte  acept               2        4491
3163        Campinas  acept               2        1928
3176  Belo Horizonte  acept               2        3886
3182    Porto Alegre  acept               2        3395

[232 rows x 4 columns]
Average total rent for family cities: 2910.1293103448274 R$
========================================
Cities suitable for large families:
                city animal  parking spaces  total (R$)
86    Belo Horizonte  acept               4        3459
157     Porto Alegre  acept               4        6299
174   Belo Horizonte  acept               4       16100
227     Porto Alegre  acept               4       10430
270         Campinas  acept               4        3509
...              ...    ...             ...         ...
2847  Belo Horizonte  acept               4        9497
3001  Belo Horizonte  acept               4        5258
3056  Belo Horizonte  acept               4       12930
3076  Belo Horizonte  acept               4        8565
3162        Campinas  acept               4        6250

[68 rows x 4 columns]
Average total rent for large family cities: 8261.470588235294 R$